<section id="wizard_bg">
  <div class="container" id="admin_users" >
    <div id="survey_container">
      <div id="middle-wizard">
        <div class="step">
          <div class="row">
            <ol class="breadcrumb">
              <li>
                <%= link_to root_path do%>
                    <i class="icon-home"></i> Home
                <% end %>
              </li>
              <li><%= link_to 'Cursos', courses_admin_list_path%></li>
              <li class="active">Evaluaciones Curso</li>
            </ol>
          </div>
          <div class="row">
            <h3 class="col-md-8"><i class=" icon-inbox"></i>Evaluaciones</h3>
            <div class="col-md-4">
              <%= link_to new_course_evaluation_path(:course_id => @course_id  ),  :class => 'button_medium pull-right' do%>
                  <i class="icon-pencil"></i> Agregar Evaluaci&oacute&oacute;n
              <%end%>
            </div>
            <div class="row">
              <div class="col-md-12">
                <% if !@course_evaluations.nil? and @course_evaluations.count > 0 %>
                    <table class="table table-bordered">
                      <tr>
                        <th>Nombre</th>
                        <th>Tema</th>
                        <th>Notas</th>
                        <th>Tipo</th>
                        <th>Agregar</th>
                        <th>Alternativas</th>
                        <th>Archivo</th>
                        <th>Fecha</th>
                        <th></th>
                      </tr>
                      <% @course_evaluations.each do |ce| %>
                          <tr>
                            <td>
                              <%= link_to edit_course_evaluation_path(:id => ce.id, :course_id => ce.course_id) do%>
                                  <%= ce.name%>
                              <%end%>
                            </td>
                            <td>
                              <% if !ce.module_item.nil? and (ce.kind == 'Alternatives' or ce.kind == 'Upload Test')  %>
                                <%= ce.module_item.title %>
                              <% end %>
                            </td>
                            <td>
                              <%= link_to course_evaluations_grades_path(:course_id => ce.course_id, :course_evaluation_id => ce.id) do %>
                                  <i class="icon-eye"></i>
                              <% end %>
                            </td>
                            <td>
                              <% if ce.kind == 'Manual' %>
                                Notas cargadas por el profesor
                              <% elsif ce.kind == 'Upload Test'%>
                                Evaluaci&oacute;n subida por usuario
                              <% elsif  ce.kind == 'Alternatives'%>
                                Evaluaci&oacute;n de alternativas
                              <% end %>
                            </td>
                            <td>
                              <%if ce.kind != 'Alternatives' and ce.kind != 'Upload Test' %>
                                <%= link_to new_grade_path(:course_id => ce.course_id, :course_evaluation_id => ce.id) do %>
                                    <i class="icon-plus"></i>
                                <% end %>
                                <%= link_to import_grades_path(:course_id => ce.course_id, :id => ce.id) do %>
                                    <i class="icon-upload-cloud-1"></i>
                                <% end %>
                              <%end%>
                            </td>
                            <td>
                              <%if ce.kind == 'Alternatives'%>
                                  <%= link_to course_evaluation_questionnaire_path(:course_id => ce.course_id, :evaluation_id => ce.id) do %>
                                      <i class="icon-flickr-1"></i>
                                  <% end %>
                              <% end %>
                            </td>
                            <td>
                              <% if ce.evaluation_file.length > 0 %>
                                  <a href="<%=ce.evaluation_file%>" target="_blank">
                                    <i class="icon-upload-cloud-4"></i>
                                  </a>
                              <% end %>
                            </td>
                            <td>
                                <%=ce.created_at.strftime('%d/%m/%Y')%>
                            </td>
                            <td>
                              <%=link_to delete_course_evaluation_path(:id => ce.id, :course_id => ce.course_id), :onclick => "return confirm('¿Estás seguro que deseas eliminar este registro? Además borraras todas las notas agregadas');" do%>
                                  <i class=" icon-cancel-alt-filled"></i>
                              <%end%>
                            </td>
                          </tr>
                      <%end%>
                    </table>
                <%else%>
                    <p class="info">En este momento no hay ninguna evaluaci&oacute;n creada</p>
                <% end %>
              </div>
            </div>
          </div>
        </div><!-- end step-->
      </div><!-- end middle-wizard -->
    </div><!-- end Survey container -->
  </div>
</section><!-- end section main container -->
