
<%= simple_form_for(@questionnaire, url: new_questionnaire_path(:questionnaire_id => @questionnaire.id), html: { method: :put,  autocomplete: 'off' }) do |f| %>
  <%= f.error_notification %>
  <section id="wizard_bg">
    <div class="container">
      <div id="survey_container">
        <div id="middle-wizard">
          <div class="step">
            <div class="row">
              <h3 class="col-md-8"><i class="icon-note-1"></i>Cuestionario - <%= @course.name %></h3>
              <%= link_to new_question_path(:questionnaire_id => @questionnaire.id),  :class => 'button_medium pull-right' do%>
                <i class="icon-plus"></i> Agregar Pregunta
              <%end%></h3>
              <p class="col-md-12"></p>
              <div class="col-md-12">
                <ul class="data-list">
                  <li>
                    <h3>Preguntas </h3>
                  </li>
                  <% for question in @questionnaire.questions.order('position ASC')%>
                      <li>
                        <h4>
                          <%= link_to edit_question_path(:question_id => question.id) do%>
                            <%= question.position %>. <%= question.text.html_safe %>
                          <% end %>
                        </h4>
                        <% for question_alternative in question.question_alternatives.order('position ASC') %>
                          <p> <%="#{question_alternative.position}. #{question_alternative.text}"%> <i class="<%=(question_alternative.position == question.correct_answer) ? 'icon-check-1':'' %>"></i></p>
                        <% end%>
                      </li>
                  <% end %>
                  <br />
                  <br />
                 <% if @questionnaire.questions.count > 0 %>
                  <li>

                    <div class="form-group">
                      <label><i class="icon-eye-4"></i> ¿Cuestionario Visible?</label></br>
                      <span style="font-size: 12px;">Favor revisar las preguntas antes de hacer visible el cuestionario, ya que las nuevas preguntas que se puedan agregar no se verán reflejadas en las pruebas de los alumnos que ya realizaron el test</span>

                      <%=f.input :visible,
                                 :as => :radio_buttons,
                                 :item_wrapper_class => 'inline',
                                 :label => false
                      %>
                    </div>
                  </li>
                <% else %>
                  <p class="info">
                    Para empezar crea una pregunta <i class="icon-up-hand-1"></i>
                  </p>
                <% end%>
              </div><!-- end col-md-12 -->

            </div><!-- end row -->
          </div><!-- end step-->
        </div><!-- end middle-wizard -->
        <div id="bottom-wizard">
          <div><%= f.button :submit, "Guardar", :class => 'button_medium' %></div>

        </div><!-- end bottom-wizard -->
      </div><!-- end Survey container -->
    </div>
  </section><!-- end section main container -->
<% end %>
