<section id="wizard_bg">
  <div class="container" id="admin_users" >
    <div id="survey_container">
      <div id="middle-wizard">
        <div class="step">
          <div class="row">
            <% if params[:notice].kind_of?(Array)%>
              <div class="alert alert-danger" role="alert">
                <% params[:notice].each do |error| %>
                    <%= error %><br> 
                <%end%>
              </div>
            <%elsif params[:notice].present?%>
              <div class="alert alert-success" role="alert">
                    <%= params[:notice] %><br> 
              </div>
            <%end%>
              <% if @user.nil? %>
                <h3 class="col-md-6"><i class="icon-suitcase"></i> Red de Contactos : <b><%=@coachee.first_name%></b></h3>
                  <div class="col-md-4">
                  <%= link_to new_contact_path(:coachee_id => @coachee.id),  :class => 'button_medium pull-right' do%>
                      <i class="icon-plus"></i>1 Nuevo Contacto
                  <%end%>
                  </div>
                  <div class="col-md-2">
                  <%= link_to import_contacts_path(:coachee_id => @coachee.id),  :class => 'button_medium pull-right' do%>
                      <i class="icon-table"></i> Carga Masiva
                  <%end%>
                </div>
              <% else %>
                <h3 class="col-md-9"><i class="icon-suitcase"></i> Red de Contactos : <b><%= @user.full_name%></b></h3>
                <div class="col-md-3">
                  <%= link_to new_contact_path(:coachee_id => @coachee.id, :user_id => @user.id),  :class => 'button_medium pull-right' do%>
                      <i class="icon-plus"></i> Nuevo Contacto
                  <%end%>
                </div>
              <% end %>

            <div class="row">
              <div class="col-md-12">
                <% if !@coachee.contacts.nil? and @coachee.contacts.any? %>
                    <table id="dttb" class="table table-bordered" style="border-collapse: collapse;">
                      <thead>
                      <tr>
                        <th data-data="first_name">Nombre</th>
                        <th data-data="last_name">Apellido</th>
                        <th data-data="email">Email</th>
                        <th data-data="enterprise">Empresa</th>
                        <th data-data="job">Cargo</th>
                        <th data-data="linkedin_url">Linkedin</th>
                        <th data-data="consultant">Consultor</th>
                        <th data-data="category">Industria</th>
                        <th data-data="status">Estatus</th>
                        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Acciones</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @coachee.contacts.each do |contact| %>
                          <tr>
                            <td>
                              <%= contact.first_name %>
                            </td>
                            <td>
                              <%= contact.last_name %>
                            </td>
                            <td>                             
                              <%= contact.email %>
                            </td>
                            <td>
                              <%= contact.enterprise %>
                            </td>
                            <td>
                              <%= contact.job %>
                            </td>
                            <td>
                              <%=link_to contact.linkedin_url, :title => 'Red De Contactos' do%>
                                  <i class="icon-linkedin"></i>
                              <%end%>
                            </td>
                            <td>
                              <%= contact.consultant %>
                            </td>
                            <td>
                              <%= contact.category %>
                            </td>
                            <td>                             
                              <% if contact.status == 1 %>
                                <span class="label label-default">Por contactar</span>
                              <% elsif contact.status == 2 %>
                                <span class="label label-primary">Contactado</span>
                              <% elsif contact.status == 3 %>
                                <span class="label label-success">En proceso</span>
                              <% elsif contact.status == 4 %>
                                <span class="label label-danger">Rechazado</span><i class=" icon-question" title="<%=contact.reject_reason%>"></i>
                              <%end%>
                            </td>
                            <td>
                              <% if contact.status == 1 %>
                                <%= link_to contact_status_change_path(id: contact.id, status: 2), :title => "Contactado" do%>
                                    <i class=" icon-eye"></i>
                                <%end%>
                              <% end %>
                              <% if contact.status == 1  || contact.status == 2 %>
                                <%= link_to contact_status_change_path(id: contact.id, status: 3), :title => "En Proceso / Entrevista" do%>
                                    <i class=" icon-check"></i>
                                <%end%>
                              <% end %>
                              <% if contact.status != 4 %>
                                <%= link_to contact_status_change_path(id: contact.id, status: 4), :title => "Rechazado" do%>
                                    <i class=" icon-thumbs-down"></i>
                                <%end%>
                              <% end %>
                              <%=link_to delete_contact_path(:coachee_id => @coachee.id, :id => contact.id), :onclick => "return confirm('¿Estás seguro que deseas eliminar este registro?');" do%>
                                  <i class=" icon-trash"></i>
                              <%end%>
                            </td>
                          </tr>
                      <%end%>
                      </tbody>
                    </table>
                <%else%>
                    <p class="info">No hay ningun contacto creado :( </p>
                <% end %>
              </div>
            </div>
          </div>
        </div><!-- end step-->
      </div><!-- end middle-wizard -->

    </div><!-- end Survey container -->
  </div>
</section><!-- end section main container -->
<script>
$(document).ready(function() {
  $("#dttb").dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        }
    } );
});
</script>