<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Enterprise:</strong>
  <%= @contact.enterprise %>
</p>

<p>
  <strong>Job:</strong>
  <%= @contact.job %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @contact.linkedin_url %>
</p>

<p>
  <strong>Consultant:</strong>
  <%= @contact.consultant %>
</p>

<p>
  <strong>Category:</strong>
  <%= @contact.category %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contact.status %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
