<section id="wizard_bg">
  <div class="container" id="admin_users" >
    <div id="survey_container">
      <div id="middle-wizard">
        <div class="step">
          <div class="row">
            <% if params[:notice].kind_of?(Array)%>
              <div class="alert alert-danger" role="alert">
                <% params[:notice].each do |error| %>
                    <%= error %><br> 
                <%end%>
              </div>
            <%elsif params[:notice].present?%>
              <div class="alert alert-success" role="alert">
                    <%= params[:notice] %><br> 
              </div>
            <%end%>
              <% if @user.nil? %>
                <h3 class="col-md-6"><i class="icon-suitcase"></i> Ofertas Laborales : <b><%=@coaching.name%></b></h3>
                  <div class="col-md-4">
                  <%= link_to new_job_offer_path(:coaching_id => @coaching.id),  :class => 'button_medium pull-right' do%>
                      <i class="icon-plus"></i>1 Nueva Oferta
                  <%end%>
                  </div>
                  <div class="col-md-2">
                  <%= link_to import_job_offers_path(:coaching_id => @coaching.id),  :class => 'button_medium pull-right' do%>
                      <i class="icon-table"></i> Carga Masiva
                  <%end%>
                </div>
              <% else %>
                <h3 class="col-md-6"><i class="icon-suitcase"></i> Ofertas Laborales : <b><%= @user.full_name%></b></h3>
                <div class="col-md-4">
                  <%= link_to new_job_offer_path(:coaching_id => @coaching.id, :user_id => @user.id),  :class => 'button_medium pull-right' do%>
                      <i class="icon-plus"></i> Nueva Oferta Laboral
                  <%end%>
                </div>
                  <div class="col-md-2">
                    <%= link_to import_job_offers_path(:coaching_id => @coaching.id, :user_id => @user.id),  :class => 'button_medium pull-right' do%>
                        <i class="icon-table"></i> Carga Masiva
                    <%end%>
                  </div>
              <% end %>

            <div class="row">
              <div class="col-md-12">
                <% if !@job_offers.nil? and @job_offers.any? %>
                    <table id="dttb" class="table table-bordered">
                      <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Fuente</th>
                        <th>Descripcion</th>
                        <th>Agregado el</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @job_offers.each do |jo| %>
                          <tr>
                            <td>
                              <%= link_to edit_job_offer_path(:coaching_id => @coaching.id, :id => jo.id) do%>
                                  <%= jo.name %>
                              <%end%>
                            </td>
                            <td>
                              <%=jo.source%>
                            </td>
                            <td>                             
                                <%=jo.description%>
                            </td>
                            <td>
                              <%="#{jo.created_at}"%>
                            </td>
                            <td>                             
                              <% if jo.status == 1 %>
                                <span class="label label-default">Publicado</span>
                              <% elsif jo.status == 2 %>
                                <span class="label label-primary">Visto</span>
                              <% elsif jo.status == 3 %>
                                <span class="label label-success">Postulado</span>
                              <% elsif jo.status == 4 %>
                                <span class="label label-danger">No Postulado</span>
                              <%end%>
                            </td>
                            <td>
                              <% if jo.status == 1 %>
                                <%= link_to job_offer_status_change_path(id: jo.id, status: 2), :onclick => "window.open('"+jo.url+"', '_blank');" , :title => "Visto" do %>
                                    <i class=" icon-eye"></i>
                                <%end%>
                              <%end%>
                              <% if jo.status == 1 || jo.status == 2 %>
                                <%= link_to job_offer_status_change_path(id: jo.id, status: 3), :onclick => "window.open('"+jo.url+"', '_blank');" , :title => "Postulado" do %>
                                    <i class=" icon-check"></i>
                                <%end%>
                              <%end%>
                              <% if jo.status != 4 %>
                                <%= link_to job_offer_status_change_path(id: jo.id, status: 4), :onclick => "window.open('"+jo.url+"', '_blank');" do %>
                                    <i class=" icon-thumbs-down"></i>
                                <%end%>
                              <%end%>
                              <%=link_to delete_job_offer_path(:coaching_id => @coaching.id, :id => jo.id), :onclick => "return confirm('¿Estás seguro que deseas eliminar este registro?');" do%>
                                  <i class=" icon-trash"></i>
                              <%end%>
                            </td>
                          </tr>
                      <%end%>
                      </tbody>
                    </table>
                <%else%>
                    <p class="info">No hay ninguna oferta laboral creada :( </p>
                <% end %>
              </div>
            </div>
          </div>
        </div><!-- end step-->
      </div><!-- end middle-wizard -->

    </div><!-- end Survey container -->
  </div>
</section><!-- end section main container -->
<script>
$(document).ready(function() {
  $("#dttb").dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        }
    } );
});
</script>