<section id="main_content">
  <div class="container" id="show_news">
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do%>
            <i class="icon-home"></i> Home
        <% end %>
      </li>
      <li class="">
        <%= link_to '' do%>
            <%= @coachee.first_name %>
        <% end %>
      <li class="active"> Ofertas Laborales Recomendadas </li>
    </ol>
    <div class="row">
      <div class="col-md-12">
        <h2 class="col-md-9"><i class="icon-suitcase"></i> Ofertas Laborales Recomendadas Para Ti</b>
          <br />
        </h2>
      </div><!-- End col-md-8  -->
    </div><!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <% if !@job_offers.nil? and @job_offers.any? %>
            <table id="dttb" class="table table-bordered">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Fuente</th>
                <th>Descripcion</th>
                <th>Agregado el</th>
                <th>Estatus</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              <% @job_offers.each do |jo| %>
                          <tr>
                            <td>
                              <%= link_to view_job_offer_path(coachee_id: current_user.id, id: jo.id), {:title => "Ver Oferta"} do%>
                                  <%= jo.name %>
                              <%end%>
                            </td>
                            <td>
                              <%=jo.source%>
                            </td>
                            <td>                             
                                <%=jo.description%>
                            </td>
                            <td>
                              <%="#{jo.created_at}"%>
                            </td>
                            <td>                             
                              <% if jo.status == 1 %>
                                <span class="label label-default">Publicado</span>
                              <% elsif jo.status == 2 %>
                                <span class="label label-primary">Visto</span>
                              <% elsif jo.status == 3 %>
                                <span class="label label-success">Postulado</span>
                              <% elsif jo.status == 4 %>
                                <span class="label label-danger">No Postulado</span><i class=" icon-question" title="<%=jo.reject_reason%>"></i>
                              <%end%>
                            </td>
                            <td>
                              <% if jo.status == 1 %>
                                <%= link_to view_job_offer_path(coachee_id: current_user.id, id: jo.id, status: 2), :title => "Ver Oferta", :onclick => "window.open('"+jo.url+"', '_blank');" do%>
                                  <i class=" icon-eye"></i>
                                <%end%>
                              <% else %>
                                <%= link_to view_job_offer_path(coachee_id: current_user.id, id: jo.id, status: jo.status), :title => "Ver Oferta", :onclick => "window.open('"+jo.url+"', '_blank');" do%>
                                  <i class=" icon-eye"></i>
                                <%end%>
                              <%end%>
                              <% unless (jo.status == 3)  %>
                                <%= link_to view_job_offer_path(coachee_id: current_user.id, id: jo.id, status: 3), {:title => "Postulé"}, :target => '_blank' do%>
                                    <i class=" icon-check"></i>
                                <%end%>
                              <%end%>
                              <% unless (jo.status == 3 || jo.status == 4) %>
                              <%= link_to reject_job_offer_path(coachee_id: current_user.id, id: jo.id, status: 4), {:title => "No Postulé"}, :target => '_blank' do%>
                                    <i class=" icon-thumbs-down"></i>
                                <%end%>
                              <%end%>
                            </td>
                          </tr>
                      <%end%>
                      </tbody>
                    </table>
            </table>
        <%else%>
            <p class="info">No hay ninguna oferta laboral creada para este coachee</p>
        <% end %>
      </div>
    </div>

  </div><!-- End container -->
</section>
<script>
$(document).ready(function() {
  $("#dttb").DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        }
    } );
});
</script>