<div class="col-lg-4 col-md-6">
  <div class="col-item">
    <div class="photo">
      <%= link_to course_path(:id => course.id) do %>
        <% if course.image.to_s.length != 0 %>
          <%= image_tag(course.image)%>
        <% else %>
          <%= image_tag 'default-course.png'%>
        <%end%>
        </a>
      <%end%>
      <div class="cat_row"><%=course.category%><i class="<%= course_completion ? 'icon-ok-circled2':''%>"></i> <span class="pull-right"><i class=" icon-clock"></i><%=course.hours%> Horas</span></div>
    </div>
    <div class="info">
      <div class="row">
        <div class="course_info col-md-12 col-sm-12">
          <h4>
            <%= link_to course.name, course_path(:id => course.id) %>
          </h4>
          <p class="course-description"><%=course.description[0 ... 170] %> <%=course.description.length >= 170 ? '...':'' %></p>
          <div class="rating">
          </div>
        </div>
      </div>
      <div class="separator clearfix">
        <p class="btn-details">
          <%= link_to course_path(:id => course.id) do %>
            <i class=" icon-list"></i> Ingresar al curso</a>
          <%end%>
        </p>
      </div>
    </div>
  </div>
</div>