<% total_percentage = 0 %>
<% coachee_goals = CoacheeGoal.where(:coaching_id => @coaching.id).any? %>
<section id="wizard_bg">
  <div class="container" id="admin_users" >
    <div id="survey_container">
      <div id="middle-wizard">
        <div class="step">
          <div class="row">
            <h3 class="col-md-9 subtitled"><i class="icon-check-1"></i>Plan : <b><%=@coaching.name%></b></h3>
            <div class="col-md-3">
                <%= link_to new_goal_path(:coaching_id => @coaching.id),  :class => 'button_medium pull-right' do%>
                  <i class="icon-plus"></i> Nuevo Compromiso
                <%end%>
            </div>
            <p class="col-md-12 subtitle"> Los compromisos del plan se asignan automaticamente a los usuarios</p>

            <div class="row">
              <div class="col-md-12">
                <% if !@goals.nil? and @goals.any?  %>
                    <table class="table table-bordered">
                      <tr>
                        <th>Compromiso</th>
                        <th>Subfactor</th>
                        <th>Fecha Termino</th>
                        <th>Porcentaje</th>
                        <th>Eliminar</th>
                      </tr>
                      <% @goals.each do |goal| %>
                          <tr>
                            <td>
                              <%= link_to edit_goal_path(:id => goal.id) do%>
                                  <%=goal.name%>
                              <%end%>
                            </td>
                            <td>
                              <%= goal.subfactor %>
                            </td>
                            <td>
                              <%="#{goal.end_date.strftime("%d/%m/%Y")}"%>
                            </td>
                            <td>
                              <%= goal.percentage %>
                            </td>
                            <td>
                              <%=link_to delete_goal_path(:id => goal.id), :onclick => "return confirm('¿Estás seguro que deseas eliminar este registro?');" do%>
                                  <i class=" icon-cancel-alt-filled"></i>
                              <%end%>
                            </td>
                          </tr>
                          <% total_percentage = goal.percentage + total_percentage %>
                      <%end%>
                      <tr>
                        <td colspan="2"><b>Porcentaje Total</b></td>
                        <td colspan="2"><b> <%=total_percentage%> %</b></td>
                      </tr>
                    </table>
                <%else%>
                    <p class="info">No hay ningun compromiso creado para este coaching, presiona <i class="icon-up-hand"></i> <b>Nuevo Compromiso</b> para crear el plan</p>
                <% end %>
              </div>
            </div>
          </div>
        </div><!-- end step-->
      </div><!-- end middle-wizard -->
          <div id="bottom-wizard">
          </div><!-- end bottom-wizard -->
    </div><!-- end Survey container -->
  </div>
</section><!-- end section main container -->
